textarea {
    min-width: 100%;
    height: 360px;
    display: block;
    max-width: 100%;
    padding: 0px;
    border-radius: 6px;
}
textarea:focus {
    outline: none;
}
.textarea {
    background: #dcdddc;
    width: 90%;
    border: 1px solid #b6b6b6;
    padding: 10px;
    margin: 0px auto;
    border-radius: 6px;
}
.buttons {
    text-align: right;
    width: 90%;
    margin: 10px auto;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;

}
.lng {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
.btn:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    text-decoration: none;
}
.shortcuts {
    width: 90%;
    margin: 40px auto 0px auto;
}
.shortcuts ul {
    list-style: none;
    overflow: auto;
    padding: 0px;
}
.shortcuts ul li {
    float: left;
    margin-right: 4px;
    padding: 12px;
    margin-bottom: 4px;
}
.shortcuts ul li.text {
    padding: 2px;
}
.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

